<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="Mail" type="WebMonitor.Push.MailConfig,WebMonitor" />
  </configSections>
  <!-- 邮件发送者信息-->
  <Mail Smtp="mail.*****.com" Port="25" SSL="false" From="iot@******.com" Password="123456" />
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
  </startup>
</configuration>
